#sortMenu{
    margin-right: 5px;
    min-width: 250px;
    max-width: 250px;
    padding-right:15px;
    height: 100%;
}
#categoryContainer{
    font-family: 'Primary';
    color: rgb(255, 254, 254);
    height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
}
#sortMenuList {
    width: 98%;
    padding: 0;
    list-style-type: none;
}
#sortMenuList li{
    display: flex;
    align-items: center;
    margin: 15px;
}
#sortMenuList label{
    padding-left: 10px;
    /* font-size: small; */
}
.checkItems{
    color: var(--color-secondary-dark)
}
#sortMenuList li:hover{
    cursor: pointer;
}
.customCheck:hover{    
    background-color: var(--color-primary);
}
#sortMenuBtn{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary-light);
    border:1px solid var(--bg-secondary-light);
    border-left-width: 0px;
    height: 80px;
    transition: height .5s;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    margin: 0px;
}

@media  only screen and (max-width: 960px) {
    #sortMenu{
        display: none;
        position: fixed;
        margin-bottom: 15px;
        border-radius: 5px;
        z-index: 5;
        transition: left .5s;
        max-width:none;
        min-width:none;
        margin-top: -50px;
        flex:1;
    }
    #sortMenu ul::-webkit-scrollbar{
        width:3px;
    }
    #sortMenu ul::-webkit-scrollbar-track{
        background:var(--bg-secondary-light);
      }
    #sortMenu ul::-webkit-scrollbar-thumb{
        background:var(--color-secondary-dark);
      }
    #categoryContainer{
        border-top-right-radius: 0px ;
        border-bottom-right-radius: 0px ;
        border:1px solid var(--bg-secondary-light);
        border-right-width: 0px;
        flex:7
    }
    #sortMenuList{
        overflow-y: scroll;
        margin-block:15px ;
    }
    #sortMenuBtn{
        display: flex;
    }
    .customCheck:hover{    
        background-color: transparent;
    }
    .customCheck:focus{    
        background-color: var(--color-primary);
    }
    #arrowIcon{
        display: inline;
        width: 50%;
        height: 85%;
    }
    .rotate{
        animation: rotate 1s ease-in-out 0s 1 normal forwards running;
    }
    .paused{
        animation-play-state: paused;
    }
    @keyframes rotate {
        50%{transform: rotate(180deg);}
        100%{transform: rotate(360deg);}
    }
    .content ul{
        /* background-color: red; */
        width:90%;
        margin: 0px;
        padding-block: 15px;
    }
}
@media  only screen and (max-width: 960px) and (min-width: 670px) {
    #sortMenuBtn{
        flex:0.5;
    }
    #categoryContainer{
        flex:7.1
    }
    
}
@media  only screen and (max-width: 670px) {
    #sortMenuBtn{
        flex:1;
    }

}
