#sortMenu{
    /* margin-bottom: 5px; */

}
#sortMenuList{
    list-style-type: none;
}
#sortMenuList li{
   font-family: 'Primary';
   color: rgb(255, 254, 254);
}
.checkItems{
    color: var(--color-secondary)
}
.customCheck{
    margin-inline-end: 10px;
}
.customCheck:hover{    
    color: var(--color-primary);
}
#sortMenuBtn{
    display: none;
}

@media  only screen and (max-width: 670px) {
    #sortMenu{
        display: flex;
        position: fixed;
        margin-bottom: 15px;
        border-radius: 5px;
        z-index: 5;
        /* left: -80%; */
        transition: left .5s;
        /* width:100%; */
    }
    #sortMenuList{
        border-top-right-radius: 0px ;
        border-bottom-right-radius: 0px ;
        border:0px solid var(--bg-secondary-light);
        margin: 0px;
    }
    #sortMenuBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-secondary-light);
        width: 10%;
        height: 50px;
        transition: height .5s;
        border-top-right-radius: 5px ;
        border-bottom-right-radius: 5px ;
        margin: 0px;
    }
    #arrowIcon{
        display: inline;
        width: 50%;
        height: 85%;
    }
    .rotate{
        animation: rotate 1s ease-in-out 0s 1 normal forwards running;
    }
    .paused{
        animation-play-state: paused;
    }
    @keyframes rotate {
        50%{transform: rotate(180deg);}
        100%{transform: rotate(360deg);}
    }

    .content ul{
        /* background-color: red; */
        width:90%;
        margin: 0px;
        padding-block: 15px;
    }
}
