.productContainer{
    margin:10px;
    background-color: #adb5bd;
    display: flex;
    max-width: 30%;
    height: 250px;
    flex: 1;
    /* border:1px solid black; */
    box-shadow: 2.5px 5px 5px grey;
    border-radius: 5px;
}

.productImageContainer{
    flex:1;
    
}

.additionalInfoContainer{
    flex:2;
}

@media  only screen and (max-width: 900px) {
    .productContainer{
    max-width: 45%;

    }
    
}
@media  only screen and (max-width: 600px) {
    .productContainer{
    max-width: 100%;
    
    }

}