body{
    background-color:var(--bg-primary);
    /* padding:15px; */
  }
  .bodyContainer{
    background-color:var(--bg-primary);
    padding:15px;
  
}
.content{
    background-color:var(--bg-secondary);
    border-radius: 5px;
}

:root{
  --bg-primary:#000000;
  --bg-secondary:#201E1E;
  --bg-secondary-light:#3D4849;
  --color-primary:#D1AD6C;
  --color-secondary:#DDB772;
  --color-secondary-dark:#C59130;

}

body::-webkit-scrollbar{
  width:5px;
}
body::-webkit-scrollbar-track{
  background:var(--bg-secondary-light);
}
body::-webkit-scrollbar-thumb{
  background:var(--color-secondary-dark);
}

@font-face {
  font-family: 'ArticleTitle';
  src: local('Asap'), url(./assets/fonts/Asap/static/Asap-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Primary';
  src: local('Kanit'), url(./assets/fonts/Kanit/Kanit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Secondary';
  src: local('Droid-Sans'), url(./assets/fonts/droid-sans/DroidSans.ttf) format('truetype');
}